// SPDX-License-Identifier: MIT

pragma solidity >0.8.7;

contract Onership {
 
  address public owner;

  constructor(uint _a , uint _b){
      owner = msg.sender;
 
  }
 
  modifier onlyOwner() {
      require(msg.sender == owner, "  User is not owner ");
      _;
  }
  
   function setOwner(address _newOwner) external onlyOwner{
      require(_newOwner != address(0), "invalid address");
      owner = _newOwner; 
   }

   function ForOwner() external onlyOwner {
       // whatever code only for owner
   }

   function ForPublic() external  {
     
     // whatever code for public and owner
   }

}


